* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 16px Helvetica, Arial, sans-serif;
}

#form {
  background: #000;
  bottom: 0;
  padding: 4px;
  position: fixed;
  width: 100%;
}

#input {
  border: 0;
  font-size: 16px;
  margin-right: 0.5%;
  padding: 10px;
  width: 90%;
}

#form > input[type='submit'] {
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
  width: 9%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages > li {
  padding: 6px 10px;
}

#messages > li:nth-child(odd) {
  background: #eee;
}

#messages > .status {
  color: #666;
  font-style: italic;
}
